a{
  color:            #7A378B;
  text-decoration:  none;
}
a:hover{ text-decoration: underline; } 
a:active{
  color:             #D6E3EF;
  background-color:  #CED3F0;
}
a:visited{
    color: #7A378B;
    text-decoration: none;
}

p{
	padding:      0px;
	margin:       0px;
	text-indent:  25px;
	display:      block;
	font-size:    18px;
	line-height:  29px;
	font-family:  'Crimson Text', serif;
}

p+p{ margin-top: 1em; }

body{
  font-family:       'Nobile', sans-serif;
  background-color: #CED3F0;
  padding: 15px;
}

blockquote{
	color:       #000000;
	font-style:  italic;
	border:      1px dotted black;
	margin:      1em;
}

code{
	background-color: #d0d0d0;
}

#title{
	background:   #000000 url("/img/banner-1.png") no-repeat right;
	color:        #ffffff;
	font-family:  'Nobile', sans-serif;
	font-size:    3em;
	text-align:   center;
	margin:       0px;
	line-height:  50px;
	height:       50px;
	text-shadow:  1px 1px 1px #D456FF;
}

nav {
	background-color:  #E8DAF8;
}

.navitem {
	text-align:    center;
	font-size:     120%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    border: 2px #000000 solid;
}

body#about div#aboutnav,
body#archives div#archivesnav,
body#projects div#projectsnav,
body#notes div#notesnav {
	background-color: #CED3F0;
}

footer{
	background-color:  #000000;
	border: 2px #000000 solid;
	padding-top: 10px;
}

.post {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post+.post {
    margin-top: 10px;
}

.post{
	background-color:    #ffffff;
	opacity:             0.6;
}
.post-title{
	font-weight:  bold;
	font-size:    18px;
	padding:      5px;
	text-shadow:  1px 1px 1px #000;
}
.post-body{ }

.post-date{
    font-size: 80%;
    text-style: oblique;
    padding-left: 10px;
}

.post-nav{
    margin-top:         5px;
    text-decoration:    overline;
}


.sidelinks{
	list-style-type:            none !important;
	font-size:                  24px;
	margin:                     0px;
	background-color:           black;
	border:                     1px #EFEFEF solid;
	border-bottom-left-radius:  5px 5px;
	border-right-width:         0px;
	border-top-left-radius:     5px 5px;
	padding:                    10px 0px;
	padding-right:              10px;
	position:                   fixed;
	right:                      0px;
	top:                        100px;
	width:                      32px;
}

.right{
	float:        right;
}

ul{
    padding-top: 1em;
    margin-left: 3em;
}

li{
	font-family:  'Crimson Text', serif;
	font-size:    14px;
}

li.iconOnly {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

li.iconOnly img{
    float: right;
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
