---
layout: default
title: Projects and Neat Doo-Dads
category: projects
image_url: http://kevin.magically.us/img/nocopyright.png
description: A sampling of Kevin Richardon's projects.
---
            <article class="row post">
                <div class="pre_2 col_10">
                    <h1 class="post-title">A Sampling of Kevin Richardson's Projects</h1>
                </div>
                <div class="pre_2 col_8 suf_2">
                    <div class="post-body">
			            <ul>
                            <li><a href="/notes/" title="Notational Notes">Notational Notes</a></li>
                            <li><a href="http://magically.us/easyaww/www" title="EasyAww:  look at cute pictures. feel better.">EasyAww</a>: look at cute pictures. feel better.</li>
                            <li><a href="https://github.com/kfredrichardson/magically" title="magically's github repo">Magically</a>, a MySQL/PHP/jQuery Mobile-powered application for viewing and graphing Magic: the Gathering prices</li>
            		    	<li><a href="/magic/index.htm" title="Miscellaneous Magic: the Gathering Applications">miscellaneous Magic:the Gathering applications</a></li>
                            <li><a href="/dmhelper/dmhelper.htm" title="Dungeon Master Helper">Dungeon Master Helper</a></li>
                            <li><a href="https://github.com/kfredrichardson/" title="Kevin Richardson on GitHub">GitHub profile</a></li>
                        </ul>
                        
                        <h2>Project of the Week</h2>
                        <a href="http://kevin.magically.us/potw/2011/01/03/project-of-the-week-intro.html" title="Project of the Week Introduction">introduction</a>
                        <ul>
                            {% for post in site.categories.potw %}
                                {% if post.title != "Project of the Week Introduction" %}
                                    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
