---
layout: default
title: Kevin Richardson's Projects & Neat Doo-Dads
category: projects
---
            <div class="row post">
                <div class="pre_2 col_10">
                    <div class="post-title">A Sampling of Kevin Richardson's Projects</div>
                </div>
                <div class="pre_2 col_8 suf_2">
                    <div class="post-body">{{ post.content }}</div>
			            <ul>
                            <li><a href="/notes/" title="Notational Notes">Notational Notes</a></li>
            		    	<li><a href="/magic/index.htm" title="Miscellaneous Magic: the Gathering Applications">miscellaneous Magic:the Gathering applications</a></li>
                            <li><a href="/dmhelper/dmhelper.htm" title="Dungeon Master Helper">Dungeon Master Helper</a></li>
                            <li><a href="https://github.com/kfredrichardson/" title="Kevin Richardson on GitHub">GitHub profile</a></li>
                        </ul>
                        
                        <h1>Project of the Week</h1>
                        <a href="http://kevin.magically.us/potw/2011/01/03/project-of-the-week-intro.html" title="Project of the Week Introduction">introduction</a>
                        <ul>
                            {% for post in site.categories.potw %}
                                {% if post.title != "Project of the Week Introduction" %}
                                    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            </div>
