---
layout: default
---
            <div class="sg-35 sgParent">
                <div class="date sg-2 borderRight">
                {{ page.date | date_to_string }}
                </div>

                <div class="post sg-30">
                    <div class="post-title">{{ page.title }}</div>
                    <div class="post-body">{{ content }}</div>
					<div class="post-nav">
                        Feel free to <a href="/about.html" title="about Kevin">contact me</a>!
					</div>
                </div>
            </div>

